:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin-left: 250px;
  margin-right: 250px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Estilos para pantallas pequeñas (teléfonos) */
@media only screen and (max-width: 767px) {
  /* Tus estilos para pantallas pequeñas aquí */
}

/* Estilos para pantallas medianas (tabletas) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Tus estilos para pantallas medianas aquí */
}

/* Estilos para pantallas grandes (escritorios) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Tus estilos para pantallas grandes aquí */
}

/* Estilos para pantallas extra grandes (escritorios grandes) entre 1200px y 1599px */
@media only screen and (min-width: 1400px) and (max-width: 1649px) {
  .col-xxl-3 {
    flex: 0 0 33%;
    max-width: 33%;
  }
}

/* Define tu clase personalizada para pantallas extra grandes (xxl) entre 1600px y 2099px */
@media only screen and (min-width: 1650px) and (max-width: 2099px) {
  .col-xxxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/* Define tu clase personalizada para pantallas extra, extra grandes (xxxl) a partir de 2100px */
@media only screen and (min-width: 2100px) {
  .col-xxxxl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}




.imageContainer {
  position: relative;
  height: 300px; /* Ajusta la altura según tus necesidades */
}

.imageContainer .darkOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2; 
}

.imageContainer .textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 3; /* Asegúrate de que el texto esté encima de la imagen y la superposición */
}

/* index.css o tu archivo de estilos CSS */
.TituloRegion {
  font-size: 7em; /* Tamaño de fuente grande, ajusta según tus preferencias */
  color: white; /* Color del texto */
  text-align: center; /* Alineación del texto al centro */
  margin: 0; /* Elimina el margen predeterminado */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra del texto */
  letter-spacing: 4px;
}

.navbar {
  background-image: url('pokemon-background.jpg');
  background-size: cover;
  background-position: center;
}

/* index.css */
.navbar-with-background {
  background-color: rgba(128, 128, 128, 0.3);
}


.navbar-brand img {
  width: 100px;
  height: auto;
}



.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 10px;
  margin-left: 15px;
  font-size: 1.2em;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.mainPanel {
  display: flex;
  flex-wrap: wrap; /* Agrega esta línea */
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  
}
.componenteMainGeneral{
  padding: 100px;
  background: rgb(134, 209, 203);
  background-image: linear-gradient(89deg, rgba(134, 209, 203, 1) 0%, rgba(39, 61, 101, 1) 100%);
}

.poke-card {
  width: 230px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.poke-card:hover {
  transform: scale(1.05);
}

.card-image-container {
  height: 200px;
  overflow: hidden;
}

.infoCard {
  background: rgba(255, 255, 255, 0.4); /* El último valor (0.8) controla la transparencia (0 totalmente transparente, 1 totalmente opaco) */
  padding: 0 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}


.label {
  font-weight: bold;
  color: #555;
}

.poke-card-button {
  margin-top: 10px;
}

.card-image-container {
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}



.card-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.poke-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.poke-card {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.poke-card-button {
  border-radius: 5px;
  background-color: #FFA500;
  color: white;
}

.poke-card:hover {
  background-color: #F5F5F5;
}

.poke-card-title {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.poke-card-info {
  font-family: Arial, sans-serif;
  font-weight: lighter;
}


.label {
  font-weight: bold;
  color: #555;
}

.poke-card-button {
  margin-top: auto;
}



.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);  /* Ajusta el valor de blur según tu preferencia */
  z-index: -1;
}



.nav-link:hover {
  background-color: #6fa8a8;
  animation: hover-effect 0.5s ease-in-out;
}

@keyframes hover-effect {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}







a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
